/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here
 */
html {
    height: 100%;
}

* {
  box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont;
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

input[type="text"] {
  border: none;
  padding: 0px;
}
input[type="text"]:focus {
  outline: none;
}
