/*
 * Global constants goes here
 */
:root {
    --primary-color: #42b983;
}


/*
 * Global CSS goes here
 */
html {
    height: 100%;
}

* {
  box-sizing: border-box;
}

body {
    font-family: BlinkMacSystemFont;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
}

input[type="text"] {
  border: none;
  padding: 0px;
}
input[type="text"]:focus {
  outline: none;
}

.katex,
.katex .mathit {
  font-size: 1em !important;
  font-family: BlinkMacSystemFont !important;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}

.function-plot .domain,
.function-plot .top-right-legend,
.function-plot .tip {
  display: none;
}
.function-plot .line {
  stroke: black;
}
.function-plot .origin {
  opacity: 0.1;
}
.function-plot .tick {
  opacity: 0.5 !important;
}
